data/
ml_tasks_Next/ObjectDetection-master/kaggle_simpson_testset/
ml_tasks_Next/ObjectDetection-master/simpsons_dataset/
.idea/
ml_tasks/unet-master/data/
deeplearning_task/input
ml_tasks_time_series/data